<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Items</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <style>
        body{
        background-color:  #ebeff5;
        }

        #h{
            font-family: 'Merienda One', cursive;
        }
    </style>

</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}" id="h">Order Items</a>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'product' %}">Products</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="{% url 'add_product' %}">Add Product</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
          {% block content %}
          {% endblock %}
      </div>
</body>
</html>