{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
{% include 'status.html' %}
<br>
<div class="row">
    <div class="col lg-9">
        <h4 class="mb-3">Customers</h4>
        <div class="card card-body">
            <a href=" {% url 'customer_form' %} " class="btn btn-block btn-sm btn-primary">Create Customer</a>   
            
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Customers</th>
                    <th>Phone</th>
                </tr>

                {% for customer in customers %}
                    <tr>
                        <td><a href="{% url 'customer' customer.id %}" class="btn btn-outline-info btn-sm">View</a></td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.phone }}</td>
                    </tr>
                {% endfor %}
            </table> 
        </div>
    </div>

    <div class="col lg-3">
        <h4 class="mb-3">Orders</h4>
        <div class="card card-body">
            <a href="{% url 'order_form' %}" class="btn btn-block btn-sm btn-primary">Create Order</a>
            <table class="table table-md">
                <tr>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Customer</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>

                
                {% for order in orders %}
                    <tr>
                        <td>{{ order.product.name }}</td>
                        <td>{{ order.date_created }}</td>
                        <td>{{ order.customer.name }}</td>
                        <td>{{ order.status }}</td>
                        <td><a href="{% url 'update_form' order.id %}" class="btn btn-warning btn-sm">Update</a></td>
                        <td><a href="{% url 'delete_form' order.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                        
                    
                    
                    </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>
</div>
{% endblock %}
