<div class="row">

    <div class="col md-2">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header card-title h5">Total Orders</div>
            <div class="card-body">
              <h3 class="card-title text-center">{{ total_orders }}</h5>
            </div>
          </div>
    </div>

    <div class="col md-6">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-title card-header h5">Orders Delivered</div>
            <div class="card-body">
              <h4 class="card-title text-center">{{ orders_delivered }}</h4>
            </div>
          </div>
    </div>

    <div class="col md-4">
        <div class="card text-white bg-danger mb-3 h5" style="max-width: 20rem;">
            <div class="card-header card-title">Orders Pending</div>
            <div class="card-body">
              <h4 class="card-title text-center">{{ orders_pending }}</h4>
            </div>
          </div>
    </div>
</div>